@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Someren!</h1>
    <p>
        This application focuses on the Someren camp that first-year Information Technology students at
        Inholland Haarlem attend in May 2025.
    </p>
</div>
