@{
    ViewData["Title"] = "Home";
}
<div class="homepage-content" style="background-image: url('@Url.Content("~/images/someren.png")'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; margin: 0; padding: 0; overflow: hidden;">
    @* <h1>Welcome to Someren</h1> *@
</div>
